.video-entry {
  padding: 10px;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

.video-list {
  max-width: 500px;
}

.button {
  float: right;
}

.title {
  
}

.watch-tab {
  padding: 15px;
  border: solid black 2px;
}

.selected-watch-tab {
  padding: 15px;
  border: solid green 2px;
  background-color: palegreen;
}
